*

!.gitignore

!go.mod
!go.sum

!README.md
!LICENSE

!application/
!application/**/*

!archetypes/
!archetypes/**/*

!camera/
!camera/**/*

!cmd/
!cmd/**/*

!data/
!data/**/*

!debug/
!debug/**/*

!editor/
!editor/**/*

!grid/
!grid/**/*
